<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Files to convert</title>
  </head>
  <body>
    <h3>Upload files</h3>
    <form method="post" action="uploads" enctype="multipart/form-data">
      Upload file:
      <input type="file" name="file" />
      <input type="submit" name='picture' value="Upload" />
      <input type="hidden" name="something" value="something" />
    </form>
    <br />
    <br />
<!--    <a href="./">Back to main page</a>-->
  </body>
</html>